.container {
    display: flex;
  }
  
  .AfterSideBar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Light gray background */
  }
  
  .form-container {
    background-color: #80CED7 ; /* Peach color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds some shadow for better visibility */
    width: 400px;
  }
  
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formsubmitbutton {
    width: 100%;
    padding: 10px;
    background-color: #007EA7; /* Button color */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .formsubmitbutton:hover {
    background-color: #003249 ;
  }